.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}
  
.arc path {
stroke: #fff;
}
body { font-family: 'Helvetica Neue', Helvetica; font-weight: 300; padding: 20px;}
th { text-align: left; }
th, td { padding: 0 1em 0.5ex 0;}
th.center, td.center { text-align: center; }
th.num, td.num { text-align: right; }

.bar {
    fill: steelblue;
}
  
.bar:hover {
    fill: brown;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

